*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h1{
    font-size: 16px;
}

body{background-color: #fffffff1;}

header{
    background-color: #ffffff;
    height: 6rem;
    border-bottom: solid black 1px;

    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
}

#Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    justify-self: start;
    align-self: center;
    margin: 2rem;
}

#searchBar{
    width: 40%;
    height: 3rem;
    background-color: white;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 8fr 0.5fr;
    align-items: center;
    justify-content: space-around;
}

#searchBar input{
    height: 100%;
    background-color: transparent;
    border: none;
    padding-inline: 1rem;
}

#searchButton{
    height: fit-content;

    background-color: transparent;
    border: none;
    border-right: 1px solid black;
    cursor: pointer;
}

#searchButton img{
    height: 2rem;
    cursor: pointer;
}

#close_btn{
    height: fit-content;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    border-left: 1px solid black;
    font-weight: bolder;
    font-size: larger;
}


#animalList{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-row-gap: 2rem;
    grid-column-gap:2rem ;
    justify-content: center;
    padding: 2rem;
}

.CardAnimal{
    height: auto;
    width: 200px;
    background-color:  #ffffff;;
    border: 2px solid black;
}

.AnimalPhoto{
    background-color:  #ffffff;;
    height: max-content;
    text-align: center;
    padding-block: 1rem;
}

.AnimalPhoto img{
    width: 60%;
    border-radius: 100px;
}

.AnimalDescription{
    height: max-content;
    padding: 5%;
}

footer{
    height: 10rem;
    width: 100%;

    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#PreviewBtn {
    width: 5rem;
    transform: scaleX(-1);
    background-color: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#Pagina{
    width: 5rem;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

#NextBtn {
    width: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


#PreviewBtn img{
    width: 80%;
    transform: scaleY(-1);
}

#NextBtn img{
    width:80%;
}


@media (max-width: 1150px){
    
    #AnimalList{
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 900px){

    #AnimalList{
        grid-template-columns: repeat(3, auto);
    }

}

@media (max-width: 670px){

    #Logo{
        font-size: 16px;
    }
    
    #searchBar{
        width: 40%;
        height: 2rem;
    }
    
    #searchButton img{
        height: 1rem;
    }
    
    #AnimalList{
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 440px){

    #Logo{
        font-size: 12px;
    }
    
    #searchBar{
        width: 40%;
        height: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    #searchButton img{
        height: 1rem;
    }
    
    #AnimalList{
        grid-template-columns: repeat(1, auto);
    }
}